#bingo-card {
    text-align: center;
    table-layout: fixed;
}

#bingo-card thead tr {
    line-height: 25px;
}

#bingo-card tbody tr {
    height: 144px;
}

#bingo-card th, #bingo-card td {
    vertical-align: middle;
}

#bingo-card td {
    font-size: small;
}

#row-header-column {
    width: 80px;
}

.content-column {
    width: 144px;
}

.unchecked:hover {
    background-color: #1c1e21;
}

.checked {
    background-color: #03380a;
}

.checked:hover {
    background-color: #03540e;
}

.blocked {
    background-color: #3d0903;
}

.blocked:hover {
    background-color: #590404;
}