body {
    font-family: 'Source Code Pro', monospace !important;
    padding-bottom: 4%;
    background-color: #1f2226 !important;
    padding-top: 70px;
}

.card {
    max-width: 840px;
}

input[type=text] {
    text-align: center;
}

.custom-checkbox {
    padding-bottom: 10px;
}

.center {
    align-content: center;
}

h3 {
    padding-top: 5px;
}

h4 {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 5px;
}

.hide {
    display: none;
}